<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding>
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="6553500" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			  <service name="HangedMan_Server.GameServices">
				  <host>
					  <baseAddresses>
						  <add baseAddress="http://192.168.1.69:8733/HangedMan_Server/GameServices/" />
					  </baseAddresses>
				  </host>
				  <endpoint address="" binding="basicHttpBinding" contract="HangedMan_Server.IGameServices" />
				  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			  </service>
			  <service name="HangedMan_Server.WordServices">
				  <host>
					  <baseAddresses>
						  <add baseAddress="http://192.168.1.69:8734/HangedMan_Server/WordServices/" />
					  </baseAddresses>
				  </host>
				  <endpoint address="" binding="basicHttpBinding" contract="HangedMan_Server.IWordServices" />
				  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			  </service>
			  <service name="HangedMan_Server.PlayerServices">
				  <host>
					  <baseAddresses>
						  <add baseAddress="http://192.168.1.69:8735/HangedMan_Server/PlayerServices/" />
					  </baseAddresses>
				  </host>
				  <endpoint address="" binding="basicHttpBinding" contract="HangedMan_Server.IPlayerServices" />
				  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			  </service>
		  </services>
	  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
